@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Register</li>
            </ol>
        </div>
    </div>
</div>

<div class="register">
    <div class="container">
        <div class="register-top heading">
            <h2>REGISTER</h2>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="register-main">
                <div class="col-md-6 account-left">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.FullName" placeholder="Full Name" type="text" tabindex="1" required>
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Username" placeholder="Username" type="text" tabindex="1" required>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Email" placeholder="Email" type="text" tabindex="1" required>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Address" placeholder="Address" type="text" tabindex="1" required>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 account-left">
                    <div class="form-group">
                        <input asp-for="Input.PhoneNumber" placeholder="Phone Number" type="text" tabindex="1" required>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" placeholder="Password" type="password" tabindex="1" required>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" type="password" tabindex="1" required>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="address submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
