@using WatchShop.Models
@model CartViewModel

<div class="header-bottom">
    <div class="container">
        <div class="header">
            <div class="col-md-9 header-left">
                <div class="top-nav">
                    <ul class="memenu skyblue">
                        <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="grid">
                            <a href="#">Watches</a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1 me-one">
                                        <h4>Shop</h4>
                                        <ul>
                                            <li><a asp-controller="Product" asp-action="All">All</a></li>
                                            <li><a asp-controller="Product" asp-action="Category" asp-route-id="Men">Men</a></li>
                                            <li><a asp-controller="Product" asp-action="Category" asp-route-id="Woman">Woman</a></li>
                                            <li><a asp-controller="Product" asp-action="Category" asp-route-id="Kids">Kids</a></li>
                                            @if (User.Identity.IsAuthenticated && Model != null)
                                            {
                                                <li><a asp-controller="Cart" asp-action="Bag" asp-route-id="@Model.Id">My Shopping Bag</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="grid">
                            <a asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <form method="get">
                <div class="col-md-3 header-right">
                    <div class="search-bar">
                        <input type="text" name="searchTerm" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input asp-controller="Product" asp-action="Search" type="submit" value="">
                    </div>
                </div>
            </form>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>