@model OrderBindingModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="register">
    <div class="container">
        <div class="register-top heading">
            <h2>ORDER</h2>
        </div>
        <form method="post">
            <div class="register-main">
                <div class="col-md-6 account-left">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="FullName" placeholder="Full Name" type="text" tabindex="1" required>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Address" placeholder="Address" type="text" tabindex="1" required>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PhoneNumber" placeholder="Phone Number" type="text" tabindex="1" required>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="address submit">
                        <input type="submit" value="Order">
                        @*<div class="alert alert-success">
                            <strong>Success!</strong>Your order was confirm!
                        </div>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

