@model IEnumerable<OrdersViewModel>

@{
    ViewData["Title"] = "All";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Orders</a></li>
                <li class="active">Account</li>
            </ol>
        </div>
    </div>
</div>
<!--start-ckeckout-->
<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>PENDING ORDERS</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <div class="in-check">
                    <ul class="unit">
                        <li><span>Full Name</span></li>
                        <li><span>Status</span></li>
                        <li><span>Items</span></li>
                        <li> </li>
                        <div class="clearfix"> </div>
                    </ul>
                    @foreach (var order in Model)
                    {
                    <ul class="cart-header">

                        <li><span class="name">@order.FullName</span></li>
                        @if (order.isConfirmed)
                        {
                            <li><span class="name">Confirmed</span></li>
                        }
                        else
                        {
                            <li><span class="name">Pending</span></li>
                        }
                        <li><span class="cost">@order.Items.Count()</span></li>
                        <li>
                          
                             <form method="get" asp-controller="PendingOrder" asp-action="OrderDetails" asp-route-id="@order.Id">
                                <div class="col-lg-offset-10">
                                    <div class="address">
                                        <input type="submit" value="Details">
                                    </div>
                                </div>
                            </form>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-ckeckout-->
