@{
    ViewData["Title"] = "Search";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Products</li>
            </ol>
        </div>
    </div>
</div>

<partial name="_ProductsPartial" />